{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}




{% block body %}

    <h2> En construction d'une 3ème page</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus adipisci animi beatae esse explicabo, incidunt inventore laboriosam modi nam
        possimus repellat sit temporibus, vel veritatis voluptatum.
        Accusantium pariatur quasi quos?</p>



    

 
{% endblock %}
