{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <h2>Liste des wish : </h2>

    <br><br><br>


    <li>
        <a href="{{ path('app_detail') }}">Accéder à la liste des souhaits</a>
    </li>





{% endblock %}
